DB_HOST=43.163.233.40
DB_PORT=31913
DB_USER=app_ro
DB_PASSWORD=your_read_password_here
DB_WRITE_USER=game_writer
DB_WRITE_PASSWORD=your_write_password_here
DB_NAME=AttentionLessonPlan

API_HOST=127.0.0.1
API_PORT=5001

TEST_DB_NAME=AttentionLessonPlan_test
